﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="BMI/Index" method="post">
    身高: <input type="text" name="name" value="" />cm <br />
    體重: <input type="text" name="name" value="" />kg <br />
  <input type="submit" name="name" value="送出" />
</form>  
<br />
計算結果: @ViewBag.BMI <br />
等級: @ViewBag.level