﻿@model WebApplication1.Viewmodel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    身高: @Html.TextBoxFor(m => m.Height) 公分 @Html.ValidationMessageFor(f => f.Height) <br />
    體重: @Html.TextBoxFor(m => m.Weight)  公斤 @Html.ValidationMessageFor(f => f.Weight)<br />
    <input type="submit" name="name" value="送出" />
</form>
<br />
計算結果: @Model.BMI <br />
等級: @Model.Level